{% extends 'base.html.twig' %}

{% block title %} paiment
{% endblock %}

{% block body %}

    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

        <table class="table" >
            <thead>
            <tr>
                <th>formation</th>
                <th>prix</th>
                <th>quantité</th>
                <th>total</th>
                <th>action</th>





            </tr>

            </thead>
            <tbody>
            {% for element in panierWithData %}
                <tr>
                    <td>{{  element.formations.nom}} </td>
                    <td>{{  element.formations.prix}} euro</td>
                    <td>{{ element.quantity }}</td>
                    <td>{{ element.quantity *element.formations.prix }} euro</td>
                    <td>
                         <a href ="{{ path("cart_add",{id:element.formations.id}) }}" class="btn btn-success"><i class="bi bi-cart-plus"></i>
                         </a>
                        <a href="{{ path("cart_remove",{id:element.formations.id}) }}" class="btn btn-warning"> <i class="bi bi-cart-dash"></i></a>

                        <a href="{{ path("cart_delette",{id:element.formations.id}) }}" class="btn btn-danger"> <i class="bi bi-cart-x"></i></a>


                    </td>

                </tr>
            {% else %}
                <tr>
                <td colspan="5" class ="text-center">votre panier est vide</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-end">{{ total }}</td>
                <td>
                    <a href="{{ path("cart_delette_all") }}" class="btn btn-danger"> <i class="bi bi-cart-x"></i></a>
                </td>
            </tr>
            </tfoot>


        </table>



    <a href ="{{ path('proceder_paiment') }}">proceder au paiment</a>




{% endblock %}